.env
.venv
.idea
services/supabase_service.py
services/video_transcription.py
/frontend-embedding/chat-widget-original.js
/frontend-backup/
/frontend/
/route/module_route.py
/services/permission_checks.py
/services/logging_service.py
/services/jwt_handler.py
/services/auth_middleware.py
/services/authentication.py
/route/role_permission_route.py
/frontend-post-sales/
/route/lesson_route.py
/route/auth_route.py
/frontend-embedding/index.html
/assistants/sales/post_sales_agent.py
/assistants/sales/pre_sales_agent.py
/agents_history.*
/services/__pycache__/
/route/file_handling_route.py
/route/users_route.py
**/__pycache__
/route/course_route.py
