booktype
pydantic~=2.12.5
fastapi~=0.124.4
starlette~=0.50.0
uvicorn~=0.38.0
langsmith~=0.5.0
python-dotenv~=1.2.1
pymongo~=4.15.5
weaviate-client~=4.18.3
tiktoken~=0.12.0
openai~=2.9.0
regex~=2025.11.3
beautifulsoup4~=4.14.3
redis~=7.1.0